:host{
  --border-radius: 20px;
  --tab-width: 10em;
  --header-font-size: 32px;
  display: block;
  width: 80vw;
  height: calc(100vh - 37vmin);
  background-color: var(--pop-up-color, var(--color6));
  transition: background-color 0.5s ease-in-out;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  will-change: background-color;

  position: absolute;
  bottom:0;
  left: 10vw;
  padding: 40px;
  box-shadow: 0px 0px 190px -70px var(--color2);

  @media only screen and (max-width: 768px) {
    --border-radius: 10px;
    --tab-width: 10em;
    --header-font-size: 20px;

    padding: 20px;
    left: 10px;
    width: calc(100vw - 20px);
  }
}

header {
  background-color: var(--pop-up-color, var(--color6));
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  font: 550 calc(var(--header-font-size) + 0.7vw)/2.5 Crimsons-Regular;
  gap: 8px;
  left: calc(50% - (var(--tab-width) / 2));
  padding: 0 8px;
  position: absolute;
  text-align: center;
  top: -2.1em;
  transition: background-color 0.5s ease-in-out;
  width: var(--tab-width);
  will-change: background-color;
}

h1 {
  color: var(--color6);
  flex: 1 1 auto;
}

button {
  flex: 0 0 32px;
}

button svg{
  width: 32px;
  height: 32px;
  fill: #fff;
  opacity: 0.6 ;
}
button:hover svg {
  opacity: 0.8;
}

a {
  position: absolute;
  right: 40px;
  top: 28px;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    right: 20px;
    top: 20px;
  }
}

a svg{
  width: 24px;
  height: 24px;
  fill: #fff;
  opacity: 0.6 ;
}
button:hover svg {
  opacity: 0.8;
}

section {
  margin-top: 40px;
  height: calc(100% - 40px);
  overflow: auto;
  color: var(--color6);
  text-align: center;

  @media only screen and (min-width: 768px) {
    text-align: left;
    display: grid;
    grid-template-areas:
      "lyrics video"
      "lyrics credits"
      "lyrics podcast";
    grid-template-columns: 1fr 330px;
    grid-template-rows: min-content min-content 1fr;
    gap: 16px;
  }

  @media only screen and (min-width: 1320px) {
    grid-template-columns: 1fr 50%;
  }


  .credits {
    font-size: calc(10px + 0.5vw);
    grid-area: credits;
    line-height: calc(1.1em + 0.5vw);
    margin-bottom: 0.5em;
    white-space: pre-line;
  }
  .lyrics {
    grid-area: lyrics;

    ::ng-deep p {
      font-size: calc(12px + 0.7vw);
      line-height: calc(1.1em + 0.5vw);
      margin-bottom: 1em;
    }
  }

  app-youtube.song {
   grid-area: video;
  }
  app-youtube.podcast {
    grid-area: podcast;
   }

  app-youtube {
    @media only screen and (max-width: 768px) {
      margin-bottom: 24px;
    }
  }
}

