:host.paused #wheelgroup.rotating {
  animation-play-state: paused;
}

svg{
  height: 100vmin;
  width: 100vmin;
  display: block;

  #wheelgroup {
    transform-origin: center center;
    will-change: transform;
    transform: rotate(var(--rotation));
    transform-origin: 50% 50%;

    &.animate {
      transition: transform 1s ease-in-out;
      :not(.active){
        opacity: 0.2;
      }
    }

    &.rotating {
      animation: rotation 20s infinite linear;
    }

    .song-area{
      cursor: pointer;
      stroke-width: 2px;
      transform-origin: center center;
      transition: opacity 1s ease-in-out;
      opacity: 1;
      z-index: 1;
    }
  }

  text {
    fill: var(--color3);
    font-size: 310px;
  }

  #part1 {
    transform-origin: 660px 260px;
  }
  #part1:hover {
    transform: scale(1.2);
  }
}

@keyframes rotation {
  from {
    transform: rotate(calc(var(--rotation)));
  }
  to {
    transform: rotate(calc(var(--rotation) + 359deg));
  }
}

@keyframes rotate-to {
  to {
    transform: rotate(var(--rotation));
  }
}
