:host.paused #wheelgroup.rotating {
  animation-play-state: paused;
}

:host {
  display: block;
  will-change: transform;
  transform: translateY(calc(50vh - 50vmin));
  transition: transform 1s ease-in-out;
}
:host.active {
  transform: translateY(0);
}

svg{
  height: 100vmin;
  width: 100vmin;
  display: block;

  #wheelgroup {
    transform-origin: center center;
    will-change: transform;
    transform: rotate(var(--rotation));
    transform-origin: 50% 50%;

    &.animate {
      transition: transform 1s ease-in-out;
      :not(.active){
        opacity: 0.2;
      }
    }

    &.rotating {
      animation: rotation 60s infinite linear;
    }

    .song-area{
      cursor: pointer;
      stroke-width: 2px;
      transform-origin: center center;
      transition: opacity 1s ease-in-out;
      opacity: 1;
      z-index: 1;
    }
  }

  text {
    fill: var(--color3);
    font-size: 310px;

    &.name {
      font-size: 130px;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(calc(var(--rotation)));
  }
  to {
    transform: rotate(calc(var(--rotation) + 359deg));
  }
}

@keyframes rotate-to {
  to {
    transform: rotate(var(--rotation));
  }
}
