<!-- <ul>
  <li *ngFor="let song of (songs$ | async)">
    <a
      [routerLink]="['song',song.slug]"
      routerLinkActive
      #rla="routerLinkActive"
      [class.active]="rla.isActive">{{song.title}}</a>
  </li>
</ul> -->
<svg
  viewBox="0 0 1600 1586"
  width="1600px" height="1586px"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="wheelgroup" [class.active-song]="!!activeSong?.song">
    <use xlink:href="#wheel" x="0" y="0" width="1600px" height="1586px" id="bg"></use>
    <path
      *ngFor="let song of (songs$ | async)"
      [attr.d]="song.path"
      [class.active]="song === activeSong"
      (click)="navigateTo(song)"
      (mouseenter)="pause()"
      (mouseleave)="play()">
    </path>
    </g>
  <text x="530" y="835">Dageraad</text>
<defs>
  <image id="wheel" width="1600" height="1586" xlink:href="/assets/images/wheel.png"></image>

  <pattern id="img1" patternUnits="userSpaceOnUse" x="0" y="0" width="1600" height="1586">
    <use xlink:href="#wheel" width="1600" height="1586"></use>
  </pattern>
  <pattern id="img2" patternUnits="userSpaceOnUse" x="0" y="0" width="1600" height="1586">
    <use xlink:href="#wheel2" width="1600" height="1586"></use>
  </pattern>
  <filter id="pictureFilter1">
    <feColorMatrix type="saturate" values="0.1"></feColorMatrix>
  </filter>
  <filter id="pictureFilter2">
    <feGaussianBlur stdDeviation="5"></feGaussianBlur>
  </filter>
</defs>
</svg>
