@import './styles/reset';

/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css?family=BioRhyme');
//https://www.youworkforthem.com/font/T7991/crimsons/webfont
// TypeType - TT Crimsons Light.ttf
// TypeType - TTCrimsons-Light.otf
@font-face {
  font-family: "Crimsons";
  src: url("/assets/fonts/crimsons-light.woff2") format("woff2");
}

body{
  --color1: #feffe9;
  --color2: #5e858c;
  --color3: #245d60;
  --color4: #d0e711;
  --color5: #bc192d;
  --color6: #ffffc8;

}

html, body {
  background-color: rgb(254,247,193);
  overflow: hidden;
}

body{
  color: var(--color3);
  font: 24px/40px Crimsons;
  display: flex;
  justify-content: center;
  align-items: center;
}


