@import './styles/reset';

@font-face {
	font-family: 'Crimsons-Regular';
	src: url('assets/fonts/regular/crimsons-regular.eot');
	src: url('assets/fonts/regular/crimsons-regular.eot?#iefix') format('embedded-opentype'),
             url('assets/fonts/regular/crimsons-regular.woff2') format('woff2'),
	     url('assets/fonts/regular/crimsons-regular.woff') format('woff'),
	     url('assets/fonts/regular/crimsons-regular.ttf') format('truetype'),
	     url('assets/fonts/regular/crimsons-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Crimsons-Light';
	src: url('assets/fonts/light/crimsons-light.eot');
	src: url('assets/fonts/light/crimsons-light.eot?#iefix') format('embedded-opentype'),
             url('assets/fonts/light/crimsons-light.woff2') format('woff2'),
	     url('assets/fonts/light/crimsons-light.woff') format('woff'),
	     url('assets/fonts/light/crimsons-light.ttf') format('truetype'),
	     url('assets/fonts/light/crimsons-light.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
  --color1: #feffe9;
  --color2: #5e858c;
  --color3: #245d60;
  --color4: #d0e711;
  --color5: #bc192d;
  --color6: #ffffc8;

}

html, body {
  background-color: rgb(254,247,193);
  overflow: hidden;
}

body{
  color: var(--color3);
  font: 24px/40px 'Crimsons-Light';
  display: flex;
  justify-content: center;
  align-items: center;
}


